:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--basic-background);
}

.header_cap {
  background-color: var(--basic-grey);
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.header_cap_search:focus,
.header_cap_search input {
  visibility: hidden;
}

.header_cap_search input:focus {
  visibility: visible;
}

/*с поиском чет пока не выходит, попробую позже разобраться, сейчас это не является специальным
 заданием, я просто для себя пытаюсь понять механизм работы */
.header_cap_bookmarks {
  text-decoration: none;
  color: var(--basic-white);
}

.header_cap_basket {
  text-decoration: none;
  color: var(--basic-white);
}

.header_cap_order {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-green);
}



.header_info {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  font-style: italic;
}

.header_info_tel {
  font-style: normal;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-red);
}

.header_info_address {
  color: var(--basic-grey);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.button_entry {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-size: 21px;
  vertical-align: middle;
  border: none;
  background-color: var(--basic-white);
  font-style: normal;
}

.header_registration {
  font-style: normal;
  font-size: 21px;
  background-color: var(--basic-white);
  text-decoration: none;
  color: var(--basic-black);
  text-align: center;
  vertical-align: middle;
}

.header_registration:hover,
.button_entry:hover {
  color: var(--basic-red);
}

.header_registration:focus,
.button_entry:focus {
  color: #C5C5C5;
}

.header_nav {
  background-color: var(--basic-grey);
  font-size: 18px;
  line-height: 24px;
}

.header_nav_list {
  list-style: none;
}

.header_nav_list a {
  color: var(--basic-white);
  text-decoration: none;
}

.header_nav_list li:hover {
  background-color: #293449;
}

.header_nav_list li:focus {
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.main {
  background-color: var(--basic-white);
}

.acco .h1 {
  visibility: hidden;
  display: none;
}

/* не понимаю почему не скрывается заголовок */

.accortment {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.accortment_items {
  list-style: none;
}

.accortment_items_material {
  background-color: #FFBF47;
}

.accortment_items_tool {
  background-color: #3BBCE3;
}

.accortment_items_technic {
  background-color: #DC91D8;
}

.accortment_items_discount {
  background-color: #8ED78F;
}

.accortment_items_delivery {
  background-color: #FFBF47;
}

.accortment_items_link {
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.accortment_items_link:hover {
  background-color: rgba(197, 197, 197, 0.3)
}

.accortment_items_link:focus {
  background-color: rgba(169, 169, 169, 0.3);
}

.accortment_slider_list {
  list-style: none;
}

.accortment_slider_figcaption {
  font-size: 36px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.accortment_slider_figcaption p {
  text-transform: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.button_link {
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
}

.button_link:hover {
  background-color: #CA2C37;
}

.button_link:focus {
  background-color: #BA2732;
}

.popular_prod_h2 {
  text-transform: uppercase;
  font-size: 30px;
  background-color: #F9F5F0;
  font-weight: 400;
  color: #32425C;
}

.popular_prod_list {
  font-family: "PT Sans", sans-serif;
  list-style: none;
  font-weight: 700;
  text-align: center;
}

.popular_prod_item {
  border: 1px solid #EAEAEA;
}

.popular_prod_item del {
  font-size: 17px;
  line-height: 18px;
  color: #A9A9A9;
}

.popular_prod_item b {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 17px;
  line-height: 18px;
}

.prod_link {
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

.button_buy {
  text-transform: uppercase;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  border: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
}

.button_buy:hover {
  background-color: #5FBB2D;
}

.button_buy:focus {
  background-color: #518534;
}

.button_bookmarks {
  text-transform: uppercase;
  color: #32425C;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.button_bookmarks:hover {
  border: solid #32425C;
}

.button_bookmarks:focus {
  border: solid rgba(50, 66, 92, 0.5);
  color: rgba(50, 66, 92, 0.5);
}

.popular_manufacturers_h2 {
  text-transform: uppercase;
  font-size: 30px;
  background-color: #F9F5F0;
  font-weight: 400;
  color: #32425C;
}

.popular_manufacturers_list {
  list-style: none;
}

.popular_manufacturers_item {
  border: 1px solid #EAEAEA;
  vertical-align: middle;
  text-align: center;
}

.popular_manufacturers_item:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.popular_manufacturers_item:focus {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.025);
  opacity: 0.5;
}

.advantages {
  background-color: #F1F5F7;
  font-family: "PT Sans", sans-serif;
}

.advantages_h2 {
  visibility: hidden;
}

.advantages_list {
  list-style: none;
}

.advantages_item_h3 {
  font-family: "Cuprum", "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.advantages_amenities_h3 {
  visibility: hidden;
}

.advantages_amenities_button {
  background-color: #32425C;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  border: none;
  box-shadow: 0px 1px 0px #293449,
    inset 0px 1px 0px #405069;
}

.advantages_amenities_button:hover {
  background: #293449;
  box-shadow: 0px 1px 0px #293449,
    inset 0px 1px 0px #405069;
}

.advantages_amenities_button:focus {
  background-color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
  color: #32425C;
}

.service_list {
  list-style: none;
}

.service_item_h3 {
  font-family: "Cuprum", "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  font-weight: 400;
}

.information_h2 {
  visibility: hidden;
}

.information_h3 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.information_text {
  font-family: "PT Sans", sans-serif;
}

.transport_companies {
  list-style-image: url("images/list-style.png");
}

/*не получается выровнить картинку ничего толкового не могу найти*/

.transport_companies_company {
  font-size: 18px;
}

.contacts_h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.contacts p {
  font-family: "PT Sans", sans-serif;
}

.footer {
  background-color: var(--basic-grey);
  color: var(--basic-white);
  font-size: 18px;
}

.footer_menu_tel {
  text-decoration: none;
  color: var(--basic-white);
}

.footer_menu_nav {
  list-style: none;
}

.footer_menu_nav_item a {
  text-decoration: none;
  color: #F1F5F7;
}

.footer_menu_accortment {
  list-style: none;
}

.footer_menu_accortment_item a {
  text-decoration: none;
  color: #FFD180;
}

.footer_menu_accortment_item a:hover,
.footer_menu_nav_item a:hover {
  text-decoration: underline;
}

.footer_menu_accortment_item a:focus,
.footer_menu_nav_item a:focus {
  opacity: 0.5;
}

.footer_feedback {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: #293449;
}

.footer_feedback_messenger {
  visibility: hidden;
}

.messengers {
  list-style: none;
}

.footer_feedback_mail a,
.footer_feedback_delevoper a {
  text-decoration: none;
  color: #FFD180;
}

.footer_feedback_mail a:hover,
.footer_feedback_delevoper a:hover {
  text-decoration: underline;
}

.footer_feedback_mail a:focus,
.footer_feedback_delevoper a:focus {
  color: var(--basic-red);
}

.support {
  font-size: 18px;
}

.support_h2 {
  visibility: hidden;
}

.button_support {
  background-color: var(--basic-red);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
  border: none;
}

.button_support:hover {
  background-color: #CA2C37;
}

.button_support:focus {
  background-color: #BA2732;
}
